{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}

    <form method="GET" action="/tabulation">{% csrf_token %}
        <input type='text' name="q_roll" placeholder="Enter student roll"  />
        <input type='text' name="q_semester" placeholder="Enter student semester"  />
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    <form method="POST">{% csrf_token %}
        {% for object in obj %}
        <div class='row'>
            <div class='col-sm-6 col-sm-offset-3'>
                {{ object.student_id}}
                {{ object.s_semester}}
            </div>
        </div>


        {% endfor %}

    </form>
{% endblock %}